{{ define "content" }}
<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/boards">Boards</a></li>
            <li class="active">Add Board</li>
        </ol>
    </div>
    <div class="row">
        <h2>Create a new Board:</h2>
    </div>
    <div class="row">
        <div class="col-xs-12">Please enter team name:</div>
    </div>
    <div class="row">
        <form action="/addboard" method="POST">
            <div class="col-xs-12">
                <input type="text" name="teamname">
                <input type="submit">
            </div>
        </form>
    </div>
</div>
{{ end }}