{{ define "content" }}
<div class="container-fluid">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="/boards">Boards</a></li>
            <li class="active">Stories</li>
        </ol>
    </div>
    <div class="row">
        <h2>Stories for Team {{.Teamname}}</h2>
    </div>
    {{range .Stories}}
    <div class="row">
        <div class="col-xs-3">{{.Description}}!</div>
        <div class="col-xs-1">
            <button class="btn btn-success btn-sm">Show</button>
        </div>
    </div>
    {{end}}
    
</div>
{{ end }}